@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 10vw;
    padding-right: 10vw;
    background: theme(colors[ieee-red]);
    -webkit-transition:filter linear 500ms;
    -moz-transition: filter linear 500ms;
    -ms-transition: filter linear 500ms;
    -o-transition: filter linear 500ms;
    transition: filter linear 500ms;
}

#navbar.blur_bg + main.app{
    filter: blur(2px) brightness(0.5);
    -webkit-transition:filter linear 500ms;
    -moz-transition: filter linear 500ms;
    -ms-transition: filter linear 500ms;
    -o-transition: filter linear 500ms;
    transition: filter linear 500ms;
}


.hidden_nav {
    height:0rem;
    -webkit-transition:height, 0.5s ease-in-out;
    -moz-transition: height, 0.5s ease-in-out;
    -ms-transition: height, 0.5s ease-in-out;
    -o-transition: height, 0.5s ease-in-out;
    transition: height, 0.5s ease-in-out;
}

.hidden_nav.slide {
    height: 15rem;
    -webkit-transition:height, 0.5s ease-in-out;
    -moz-transition: height, 0.5s ease-in-out;
    -ms-transition: height, 0.5s ease-in-out;
    -o-transition: height, 0.5s ease-in-out;
    transition: height, 0.5s ease-in-out;
    }


@keyframes fadeIn {
    0%, 25%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}